@charset "UTF-8";
ul{
	list-style:none;
	margin:0;
	padding:0;
}
li{
	float:left;
}
a:link,a:visited{
	display:block;
	width:240px;
	font-weight:bold;
	color:white;
	background-color:#5AF;
	text-align:center;
	padding:5px;
	text-decoration:none;
}
a:hover,a:active{
	background-color:red;
}